################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bodell-Lab/FileContentIndex/bd441011-7c25-451d-a514-251b6462da42.vsidx
/.vs/Bodell-Lab/FileContentIndex/c56be29a-8b2f-48bf-9b11-2ed8879df255.vsidx
